.cards-container {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 90%;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 180px;
  height: 250px;

  box-sizing: border-box;

  border-radius: 0.5rem;
  overflow: hidden;

  transition: transform 0.3s;
  cursor: pointer;

  transform: scale(0.95);
}
.card:hover {
  box-shadow: 0 0 10px 5px white;
}
.card:active {
  transform: scale(0.9);
  transition: transform 0.3s;
}

/* flipping */

.card {
  perspective: 1000px; /* Depth perspective for 3D effect */
}

.card .card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease; /* Add smooth transition */
  transform-style: preserve-3d;
  background-color: rgba(0, 0, 0, 0.497);
}

.card .card-inner.flipped {
  transform: rotateY(180deg);
}
.card .card-inner.unflipped {
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hide the backface of the card */
}

.card-front {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back {
  background-image: url(/card/card-back.png);
  background-position: center;
  background-size: 160%;
  background-repeat: no-repeat;
  transform: rotateY(180deg); /* Initially flip to show back side */
}

/* flipping ends */

.character-portrait {
  width: 100px;
  max-height: 100%;
  object-fit: contain;
  transform: scale(1.5);
  transform-origin: top center;
  z-index: 1;
}
.character-name {
  width: 150px;
  z-index: 9;
}

.none {
  display: none;
}
