.score-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1vh;
  font-size: 1rem;
}

.player-score {
  display: flex;
  gap: 1rem;
  font-size: 2em;
  /* background-color: black; */
}
.current-score {
  /* Placeholder */
  border: none;
  font-size: 2em;

  /* background-color: black; */
}
/* Text outline */
.player-score,
.current-score {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
