.header-container {
  display: flex;
  width: 100%;
  max-height: 10%;

  box-sizing: border-box;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;

  align-items: center;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.6);
}

.header-logo-title {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.header-logo-title span {
  font-size: 1.9rem;
}

.header-container img {
  width: 45px;
  background-color: rgba(255, 255, 255, 0.445);
}

.header-buttons-container {
  margin-right: 5%;
}

.header-button {
  font-size: 1.5rem;
  padding: 10px 10px;
  margin: 0;
  background: none;

  transition: background-color 0.3s linear;
}

.header-button:hover {
  background-color: #b4a686;
}
